:root {
  font-family: var(--kds-core-font-family-roboto), sans-serif;
}

body {
  font: var(--kds-font-base-body-medium);
  color: var(--kds-color-text-and-icon-neutral);
}

a {
  color: inherit;
}

pre,
code,
tt,
samp {
  font-family: var(--kds-core-font-family-roboto-mono), monospace;
}

svg {
  shape-rendering: geometricPrecision;
}

input[type="text"],
input[type="search"],
input[type="password"],
input[type="email"],
input[type="number"] {
  appearance: none;
  border-radius: 0;
}
