.dropdown {
  display: flex;
  flex-direction: column;
}

.trigger {
  position: relative;
}

.popover {
  position: absolute;
  top: calc(
    var(--kds-dimension-component-height-1-75x) +
      var(--kds-spacing-container-0-25x)
  );
  left: 0;
  z-index: 1;
  display: flex;
  flex-direction: column;
  overflow: hidden;
  background: var(--kds-color-surface-default);
  border-radius: var(--kds-border-radius-container-0-50x);
  box-shadow: var(--kds-elevation-level-3);
}

.sticky-top {
  padding: var(--kds-spacing-container-0-25x);
  border-bottom: var(--kds-border-base-subtle);
}

.list {
  display: flex;
  flex-direction: column;
  gap: var(--kds-spacing-container-0-10x);
  max-height: calc(var(--kds-dimension-component-height-1-5x) * 8);
  padding: var(--kds-spacing-container-0-25x);
  margin: 0;
  overflow: auto;
  list-style: none;
}

.empty {
  padding: var(--kds-spacing-container-0-25x);
  font: var(--kds-font-base-interactive-small);
  color: var(--kds-color-text-and-icon-muted);
}

.option {
  display: flex;
  align-items: center;
  justify-content: space-between;
  min-height: var(--kds-dimension-component-height-1-5x);
  padding-right: var(--kds-spacing-container-0-25x);
  padding-left: var(--kds-spacing-container-0-5x);
  cursor: pointer;
  background: var(--kds-color-background-neutral-initial);
  border-radius: var(--kds-border-radius-container-0-25x);

  &:hover:not(.disabled) {
    background: var(--kds-color-background-neutral-hover);
  }

  &.active:not(.disabled) {
    background: var(--kds-color-background-neutral-hover);
  }

  &.disabled {
    cursor: default;
    opacity: 0.6;
  }

  &.missing {
    background: var(--kds-color-background-danger-initial);
  }
}

.option-content {
  display: flex;
  gap: var(--kds-spacing-container-0-25x);
  align-items: center;
  min-width: 0;
  padding: var(--kds-spacing-container-0-25x) 0;
  font: var(--kds-font-base-interactive-small);
  color: var(--kds-color-text-and-icon-neutral);

  & .label {
    min-width: 0;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
  }

  & .missing-label {
    flex-shrink: 0;
    color: var(--kds-color-text-and-icon-danger);
  }

  .option.missing & {
    color: var(--kds-color-text-and-icon-danger);
  }
}
